.wrapper {
  margin: 10px;
  padding: 5px; 
}

body {
  background-image: url('images/pizza2-wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center; 
}

#main {
  margin: 15px auto;
  padding: 3px;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-family: 'Give You Glory', cursive;
  font-size: 80px;
  color: #000000;
}

h2, a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  color: #000000;   
}

a {
  font-size: 35px;
  text-decoration: underline;
  font-style: italic;
}

a:hover {
  color: #0B6F6B;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  font: justify;
  border-radius: 10px;
  border: 2px solid #339793;
}

input {
  width: 300px;
}


#sign-in, #sign-up {
  background-color: #339793;
  color: #FFFFFF;
  width: 140px;
}

.wrongInfo { 
    background: #F65357; 
    border-bottom: solid 2px #FFFFFF; 
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    padding: 5px 0; 
    text-align: center; 
    color: white;
}

button:hover, button:focus {
  background-color: #0B6F6B;
  border-color: #71BCB8
}