
      <!-- Top Nav Bar -->
      <div class="row" id="topbar">
        <div class="col-xs-4" >
          <h1>PicForEating</h1>
        </div>
        <div class="col-xs-6">
         <div class="input-group" >
            <input type="text" class="form-control" id="searchbar-input" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" id="searchbar" type="button">Search</button>
            </span>
          </div>  
        </div>
        <div class="col-xs-2">
          <a href="/profile" id="profile">Profile</a><br />
          <a href="/home" id="log-out">Log Out</a>
        </div>
      </div>
      <!-- Main Section -->
      <div class="row">
        <div class="col-xs-12">
          <div id="main">
            <h2>Your Favourites</h2>
            <!-- Add image bar -->
            <input type="text" class="form-control" id="addphoto-input" placeholder="Example: http://www.yumfood//thai-red-curry-with-chicken/dish2.jpg ...">
            <span class="input-group-btn">
              <button class="btn btn-default" id="addphoto" type="button">Add your photo</button>
            </span>
            <!-- Photos -->
            <div class="row">  
              <div class="col-xs-3"><img src="/public/images/temp/bagel-with-cream-cheese-and-lox.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/halloumi-and-vegetable-skewers-5.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/multigrain-watercress-and-cucumber--2.jpg" /></div> 
              <div class="col-xs-3"><img src="/public/images/temp/zucchini-noodles-with-lemon-garlic-.jpg"></div>
            </div>
            <br />
            <div class="row">  
              <div class="col-xs-3"><img src="/public/images/temp/zucchini-noodles-with-lemon-garlic-.jpg"></div>
              <div class="col-xs-3"><img src="/public/images/temp/bagel-with-cream-cheese-and-lox.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/halloumi-and-vegetable-skewers-5.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/multigrain-watercress-and-cucumber--2.jpg" /></div> 
            </div>
            <br /> 
            <div class="row">  
              <div class="col-xs-3"><img src="/public/images/temp/halloumi-and-vegetable-skewers-5.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/bagel-with-cream-cheese-and-lox.jpg" /></div>  
              <div class="col-xs-3"><img src="/public/images/temp/zucchini-noodles-with-lemon-garlic-.jpg"></div>
              <div class="col-xs-3"><img src="/public/images/temp/multigrain-watercress-and-cucumber--2.jpg" /></div> 
            </div>      
          </div>
        </div>
      </div>
