<html>
<head>
  <title>PicForEating</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
  <script type="text/javascript" src="public/application.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="public/custom2.css" rel="stylesheet">
  <link rel="icon" href="public/images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="wrapper">
    <div class="container-fluid">

      <!-- TopBar -->
      <div class="row" id="topbar">
        <div class="col-xs-4" >
          <h1>PicForEating</h1>
        </div>
        <div class="col-xs-6">
         <div class="input-group" >
            <input type="text" class="form-control" id="searchbar" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" id="searchbar" type="button">Search</button>
            </span>
          </div>  
        </div>
        <div class="col-xs-2">
          <a href="/profile" id="profile">Profile</a><br />
          <a href="/home" id="log-out">Log Out</a>
        </div>
      </div>
    </div>
    </div>
    <!-- Main -->
    <div class="row">
      <div class="col-xs-12">
        <div id="main">
        <h2>Profile</h2>
          <div class="row">  
            <div class="col-xs-3"><img src="/public/images/temp/zucchini-noodles-with-lemon-garlic-.jpg" /></div>  
            <div class="col-xs-9">
              <ul id="profile-details"></ul>
            </div>
            <div>
              <form>
                <input type="text" id="email" class="signup-field" placeholder="email address"><br />
                <input type="text" id="username" class="signup-field" placeholder="username"><br />
                <input type ="password" id="password" class="signup-field" placeholder="password (minimum: 5 characters)"><br /> 
                <button id="update-details">Update Details</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</body>

</html>